@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body, #root {
  background-color: white;
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: 0;
}
